version: "{build}"
skip_branch_with_pr: true
skip_tags: true
build: off

environment:
  matrix:
    - nodejs_version: stable
    - nodejs_version: 4

# Install scripts. (runs after repo cloning)
install:
  # install Node.js
  - ps: Install-Product node $env:nodejs_version
  # install modules
  - npm install


# to run your custom scripts instead of automatic tests
test_script:
  - npm test

# to run your custom scripts instead of provider deployments
after_test:
  - npm run report-coverage
  - 7z a shorturl.zip lib/*.json
  - appveyor PushArtifact shorturl.zip
